In [1]:
import pandas as pd
import numpy as np
import re

## 1. Write a function named is_vowel. 
* It should accept a string as input and use a regular expression to determine if the passed string is a vowel. 
* While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [18]:
subject = 'top'

In [19]:
def is_vowel(subject):
    '''
    this function takes in a string and returns a statement if the passed string is a vowel
    '''
    regexp = r'^[aeiou]$'
    
    if re.search(regexp, subject, re.IGNORECASE):
        print('is a vowel')
    else:
        print('is not a vowel')

In [20]:
is_vowel(subject)

is not a vowel

## 2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [21]:
# >>> is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')
# False
# >>> is_valid_username('codeup')
# True
# >>> is_valid_username('Codeup')
# False
# >>> is_valid_username('codeup123')
# True
# >>> is_valid_username('1codeup')
# False

In [51]:
subject_list = ['aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa', 'codeup', 'Codeup', 'codeup123', '1codeup']

In [52]:
for sub in subject_list:
    if re.search(r'^[a-z][a-z0-9_]{0,31}$', sub): # /w will catch underscores and also capital letters - doesn't work here but neat
        print('True')
    else:
        print('False')

False
True
False
True
False

In [55]:
def is_valid_username(subject_list):
    '''
    this function takes in a string and returns a statement if the string is a valid input
    '''
    regexp = r'\b^[a-z][a-z0-9]{0,30}$'
    
    for sub in subject_list:
        if re.search(regexp, sub):
            print('True')
            print(sub)
        else:
            print('False')
            print(sub)

In [56]:
is_valid_username(subject_list)

False
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
True
codeup
False
Codeup
True
codeup123
False
1codeup

## 3. Write a regular expression to capture phone numbers. It should match all of the following:

In [57]:
# (210) 867 5309
# +1 210.867.5309
# 867-5309
# 210-867-5309

In [58]:
phone_list = ['(210) 867 5309', '+1 210.867.5309', '867-5309', '210-867-5309']

In [59]:
regexp = r'\W?[\W?\d\s?0-9\W?]\s?\s?\W?\d+\W?\s?\d+\W?\s?\d+'
re.search(regexp, phone_list[3])

In [60]:
re.findall(regexp, phone_list[3])

['210-867-5309']

In [62]:
for num in phone_list:
    regexp = r'\W?[\W?\d\s?0-9\W?]\s?\s?\W?\d+\W?\s?\d+\W?\s?\d+' #mistys = r'.+\d+.?.\d+.\d+$'
    if re.search(regexp, num):
        print('True')
        print(num)
    else:
        print('False')
        print(num)

True
(210) 867 5309
True
+1 210.867.5309
True
867-5309
True
210-867-5309

## 4. Use regular expressions to convert the dates below to the standardized year-month-day format.

In [63]:
# 02/04/19
# 02/05/19
# 02/06/19
# 02/07/19
# 02/08/19
# 02/09/19
# 02/10/19

In [64]:
#make into list for comprehension
date_list = ['02/04/19',
             '02/05/19',
             '02/06/19',
             '02/07/19',
             '02/08/19',
             '02/09/19',
             '02/10/19']

In [65]:
#re.sub to replace
regexp = r'(\d{2})/(\d{2})/(\d{2})'
repl = r'20\3-\1-\2'
re.sub(regexp,repl, date_list[0])

'2019-02-04'

In [66]:
def convert_date(date):
    '''
    this function converts a date from MM/DD/YY format to YYYY-MM-DD format
    '''
    #using regex
    pattern = r'(\d{2})/(\d{2})/(\d{2})'
    replacement = r'20\3-\1-\2'
    return re.sub(pattern, replacement, date)

converted_dates = [convert_date(date) for date in date_list]
print(converted_dates)

['2019-02-04', '2019-02-05', '2019-02-06', '2019-02-07', '2019-02-08', '2019-02-09', '2019-02-10']

In [67]:
#fun :)

In [71]:
#re.findall first to test the pattern
regexp = r'(?P<month>^\d{2}(?:\W))(?P<day>\d{2}(?:\W))(?P<year>\d{2})'
for date in date_list:
    print(re.findall(regexp, date))

[('02/', '04/', '19')]
[('02/', '05/', '19')]
[('02/', '06/', '19')]
[('02/', '07/', '19')]
[('02/', '08/', '19')]
[('02/', '09/', '19')]
[('02/', '10/', '19')]

In [74]:
#compile the pattern
pattern = re.compile(r'''
        (?P<month>^\d{2}(?:\W))
        (?P<day>\d{2}(?:\W))
        (?P<year>\d{2})
        ''', re.VERBOSE)
pattern

re.compile(r'\n        (?P<month>^\d{2}(?:\W))\n        (?P<day>\d{2}(?:\W))\n        (?P<year>\d{2})\n        ',
re.UNICODE|re.VERBOSE)

In [75]:
#throw into contacts list of dictionaries
dates = [re.search(pattern,date).groupdict() for date in date_list]
dates

[{'month': '02/', 'day': '04/', 'year': '19'},
 {'month': '02/', 'day': '05/', 'year': '19'},
 {'month': '02/', 'day': '06/', 'year': '19'},
 {'month': '02/', 'day': '07/', 'year': '19'},
 {'month': '02/', 'day': '08/', 'year': '19'},
 {'month': '02/', 'day': '09/', 'year': '19'},
 {'month': '02/', 'day': '10/', 'year': '19'}]

In [76]:
#turn into a df
date_df = pd.DataFrame(dates)
date_df

  month  day year
0   02/  04/   19
1   02/  05/   19
2   02/  06/   19
3   02/  07/   19
4   02/  08/   19
5   02/  09/   19
6   02/  10/   19

In [80]:
#replace
date_df.month = date_df['month'].str.replace('/','')
date_df.day = date_df['day'].str.replace('/','')
date_df.year = '20' + date_df['year']

In [81]:
date_df

  month day  year
0    02  04  2019
1    02  05  2019
2    02  06  2019
3    02  07  2019
4    02  08  2019
5    02  09  2019
6    02  10  2019

## 5. Write a regex to extract the various parts of these logfile lines:

In [82]:
# GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
## POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; 
## Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
# GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

In [83]:
#make into list for accessibility
log_list = ['GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',\
            'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora;Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',\
            'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58']

In [84]:
#re.findall find all the pattern components: ORIGINAL _ I DID THIS POORLY. FIXED BELOW
regexp = r'(?P<request>^[A-Z]{3,4})\s(?P<site>\W.+)\s(?P<date>.+)\s(?P<protocol>HTTP\W[0-9]\W[0-9])\s(?P<status_code>{.+\})\s(?P<unknown>\d+)\s(?P<url_code>".+")\s(?P<ip>\d.+)'
for logf in log_list:
    print(re.findall(regexp, logf))

[('GET', '/api/v1/sales?page=86', '[16/Apr/2019:193452+0000]', 'HTTP/1.1', '{200}', '510348', '"python-requests/2.21.0"', '97.105.19.58')]
[('POST', '/users_accounts/file-upload', '[16/Apr/2019:193452+0000]', 'HTTP/1.1', '{201}', '42', '"User-Agent: Mozilla/5.0 (X11; Fedora; Fedora;Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36"', '97.105.19.58')]
[('GET', '/api/v1/items?page=3', '[16/Apr/2019:193453+0000]', 'HTTP/1.1', '{429}', '3561', '"python-requests/2.21.0"', '97.105.19.58')]

In [102]:
# #compose the pattern pieces - what I did first
# pattern = re.compile(r'''
#         (?P<request>^[A-Z]{3,4})\s
#         (?P<site>\W.+)\s
#         (?P<date>.+)\s
#         (?P<protocol>HTTP\W[0-9]\W[0-9])/s
#         (?P<status_code>{.+\})\s
#         (?P<unknown>\d+)\s          
#         (?P<url_code>".+")\s
#         (?P<ip>\d.+)''', re.VERBOSE)
# pattern

#compose the pattern pieces
pattern = re.compile(r'''(?P<request>^[A-Z]{3,4})\s
                        (?P<site>\S+)\s
                        (?P<date>\[.+?\])\s
                        (?P<protocol>HTTP/\d\.\d)\s
                        (?P<status_code>\{\d+\})\s
                        (?P<unknown>\d+)\s
                        (?P<url_code>".+")\s
                        (?P<ip>\d+\.\d+\.\d+\.\d+)''', re.VERBOSE)

In [87]:
#check if any pattern matched
logs = []
for logf in log_list:
    match = re.search(pattern, logf)
    if match:
        logs.append(match.groupdict())

print(logs)

[{'request': 'GET', 'site': '/api/v1/sales?page=86', 'date': '[16/Apr/2019:193452+0000]', 'protocol': 'HTTP/1.1', 'status_code': '{200}', 'unknown': '510348', 'url_code': '"python-requests/2.21.0"', 'ip': '97.105.19.58'}, {'request': 'POST', 'site': '/users_accounts/file-upload', 'date': '[16/Apr/2019:193452+0000]', 'protocol': 'HTTP/1.1', 'status_code': '{201}', 'unknown': '42', 'url_code': '"User-Agent: Mozilla/5.0 (X11; Fedora; Fedora;Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36"', 'ip': '97.105.19.58'}, {'request': 'GET', 'site': '/api/v1/items?page=3', 'date': '[16/Apr/2019:193453+0000]', 'protocol': 'HTTP/1.1', 'status_code': '{429}', 'unknown': '3561', 'url_code': '"python-requests/2.21.0"', 'ip': '97.105.19.58'}]

In [88]:
#throw into list of dictionaries
logs = [re.search(pattern,logf).groupdict() for logf in log_list]
logs

[{'request': 'GET',
  'site': '/api/v1/sales?page=86',
  'date': '[16/Apr/2019:193452+0000]',
  'protocol': 'HTTP/1.1',
  'status_code': '{200}',
  'unknown': '510348',
  'url_code': '"python-requests/2.21.0"',
  'ip': '97.105.19.58'},
 {'request': 'POST',
  'site': '/users_accounts/file-upload',
  'date': '[16/Apr/2019:193452+0000]',
  'protocol': 'HTTP/1.1',
  'status_code': '{201}',
  'unknown': '42',
  'url_code': '"User-Agent: Mozilla/5.0 (X11; Fedora; Fedora;Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36"',
  'ip': '97.105.19.58'},
 {'request': 'GET',
  'site': '/api/v1/items?page=3',
  'date': '[16/Apr/2019:193453+0000]',
  'protocol': 'HTTP/1.1',
  'status_code': '{429}',
  'unknown': '3561',
  'url_code': '"python-requests/2.21.0"',
  'ip': '97.105.19.58'}]

In [89]:
#turn to a df
log_df = pd.DataFrame(logs)
log_df

,request,site,date,protocol,status_code,unknown,url_code,ip
0,GET,/api/v1/sales?page=86,[16/Apr/2019:193452+0000],HTTP/1.1,{200},510348,"""python-requests/2.21.0""",97.105.19.58
1,POST,/users_accounts/file-upload,[16/Apr/2019:193452+0000],HTTP/1.1,{201},42,"""User-Agent: Mozilla/5.0 (X11; Fedora; Fedora;...",97.105.19.58
2,GET,/api/v1/items?page=3,[16/Apr/2019:193453+0000],HTTP/1.1,{429},3561,"""python-requests/2.21.0""",97.105.19.58

In [90]:
#change date column because it's terrible and messy - good practice
import datetime
log_df.date

0    [16/Apr/2019:193452+0000]
1    [16/Apr/2019:193452+0000]
2    [16/Apr/2019:193453+0000]
Name: date, dtype: object

In [91]:
log_df.date = pd.to_datetime(log_df['date'], format='[%d/%b/%Y:%H%M%S%z]')

In [101]:
log_df.date

0   2019-04-16 19:34:52+00:00
1   2019-04-16 19:34:52+00:00
2   2019-04-16 19:34:53+00:00
Name: date, dtype: datetime64[ns, UTC]

## Bonus. You can find a list of words on your mac at /usr/share/dict/words. Use this file to answer the following questions:

In [ ]:
# - How many words have at least 3 vowels?
# - How many words have at least 3 vowels in a row?
# - How many words have at least 4 consonants in a row?
# - How many words start and end with the same letter?
# - How many words start and end with a vowel?
# - How many words contain the same letter 3 times in a row?
# - What other interesting patterns in words can you find?

In [105]:
with open('usr/share/dict/words', 'r') as f:
    data = f.read()
data = data.split('\n')

FileNotFoundError: [Errno 2] No such file or directory: 'usr/share/dict/words'